table {
    width: 100%;
}
  
.mat-form-field {
    font-size: 14px;
    width: 100%;
}

th {
    font-size: 14px;
    background-color: #0D47A1;
    color: white;
}

.mat-row:hover {
    background-color: #EEEEEE;
  }